livekit-agents
livekit-plugins-openai
livekit-plugins-deepgram
livekit-plugins-elevenlabs
livekit-plugins-silero
livekit-plugins-cartesia
livekit-plugins-turn-detector
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp
python-dotenv
twine